<h2>Helpful Resources</h2>
<div class='row'>
  <div class='column--large'>
    
    <h3>Emergency Contacts</h3>
    <md-card>
      <md-card-content>
        <md-table [dataSource]="dataSource">
          <ng-container mdColumnDef="name">
            <md-header-cell *mdHeaderCellDef>Service</md-header-cell>
            <md-cell *mdCellDef="let row">{{ row.name }}</md-cell>
          </ng-container>
          <ng-container mdColumnDef="phoneNumber">
            <md-header-cell *mdHeaderCellDef>Phone Number</md-header-cell>
            <md-cell *mdCellDef="let row">{{ row.phoneNumber }}</md-cell>
          </ng-container>
          <ng-container mdColumnDef="email">
            <md-header-cell *mdHeaderCellDef>Email</md-header-cell>
            <md-cell *mdCellDef="let row">{{ row.email }}</md-cell>
          </ng-container>
          <ng-container mdColumnDef="website">
            <md-header-cell *mdHeaderCellDef>Website</md-header-cell>
            <md-cell *mdCellDef="let row"><a href='{{ row.website }}'>{{ row.website }}</a></md-cell>
          </ng-container>
          <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
      </md-card-content>
    </md-card>

    <h3>Extra Information</h3>
    <md-card>
      <md-card-content>
        <md-list>
          <md-list-item><a href='http://www.redcross.org/get-help/how-to-prepare-for-emergencies/types-of-emergencies/hurricane'>Red Cross Hurricane Safety Guide</a></md-list-item>
          <md-divider></md-divider>
          <md-list-item><a href='http://www.publix.com/pages/publix-storm-basics'>Publix Food and Supplies Guide</a></md-list-item>
          <md-divider></md-divider>
          <md-list-item><a href='http://www.nhc.noaa.gov/prepare/ready.php'>National Hurricane Center</a></md-list-item>
          <md-divider></md-divider>
          <md-list-item><a href='https://www.fema.gov/'>FEMA</a></md-list-item>      
        </md-list>
      </md-card-content>
    </md-card>

  </div>
</div>