<h2>Helpful Resources</h2>
<div class='row'>
  <div class='column--large'>
    
    <h3>Emergency Contacts</h3>
    <app-services-directory></app-services-directory>

    <h3>Extra Information</h3>
    <md-card>
      <md-card-content>
        <md-list>
          <md-list-item><a href='http://www.redcross.org/get-help/how-to-prepare-for-emergencies/types-of-emergencies/hurricane'>Red Cross Hurricane Safety Guide</a></md-list-item>
          <md-divider></md-divider>
          <md-list-item><a href='http://www.publix.com/pages/publix-storm-basics'>Publix Food and Supplies Guide</a></md-list-item>
          <md-divider></md-divider>
          <md-list-item><a href='http://www.nhc.noaa.gov/prepare/ready.php'>National Hurricane Center</a></md-list-item>
          <md-divider></md-divider>
          <md-list-item><a href='https://www.fema.gov/'>FEMA</a></md-list-item>      
        </md-list>
      </md-card-content>
    </md-card>

  </div>
</div>