.footer {
  border-top: solid 1px $light-grey;
  padding: 50px;
  color: $primary;
  font-family: $font-family;
  text-align: center;

  img {
    width: 100px;
  }

  p {
    padding: 30px;
  }

  a {
    color: $primary;
  }
}