.title {
  display: block;
  margin: 1em auto;
  max-width: 900px;
  text-align: center;
  line-height: 1.5;
  font-size: 3em;
  font-family: $font-family;
  font-weight: 900;
  color: $primary;
  text-transform: uppercase;
}
