<md-toolbar color="primary">
  <h1 i18n=@@toolbarHeader>Storm Preperation</h1>
  <span class="md-toolbar-fill-remaining-space"></span>
  <span>
    <a class='github-link' href="https://github.com/havok2905/cfo-storm-prep">
      <img src='assets/github.png' alt='github logo'/>
    </a>
  </span>
</md-toolbar>

<h2 class='title'>Everything You Need To Prepare For The Storm</h2>

<div class='row'>
  <div class='column--large'>
    <app-services-directory></app-services-directory>
  </div>
</div>

<div class='row'>
  <div class='column--small'>
    <app-survival-kit></app-survival-kit>
  </div>
  <div class='column--small'>
    <app-home-prep></app-home-prep>
  </div>
</div>

<footer class='footer'>
  <p>This application is maintained bt the developers of <a href='http://www.codefororlando.com/'>Code for Orlando</a></p>
  <a href='http://www.codefororlando.com/'>
    <img src='assets/cfo.png'/>
  </a>
</footer>