<md-toolbar color="primary">
  <a [routerLink]="['/']">
    <img class='navbar-brand' src='assets/orlando-logo.png' alt='city logo'/>
  </a>
  <h1 i18n=@@toolbarHeader>
    <a class='navbar-link' [routerLink]="['/']">Orlando Storm Preperation</a>
  </h1>
  <span class="md-toolbar-fill-remaining-space"></span>
  <a class='navbar-link' [routerLink]="['/']">Checklist</a>
  <a class='navbar-link' [routerLink]="['/food-guide']">Food Guide</a>
  <a class='navbar-link' [routerLink]="['/helpful-resources']">Helpful Resources</a>
  <a class='github-link' href="https://github.com/havok2905/cfo-storm-prep" title='help contribute'>
    <img src='assets/github.png' alt='github logo'/>
  </a>
</md-toolbar>

<router-outlet></router-outlet>

<footer class='footer'>
  <a href='http://www.codefororlando.com/'>
    <img src='assets/cfo.png'/>
  </a>
  <p>This application is maintained bt the developers of <a href='http://www.codefororlando.com/'>Code for Orlando</a></p>
</footer>