<md-card>
  <md-card-header>
    <md-card-title>Survival Supplies</md-card-title>
  </md-card-header>
  <md-card-content>
    <md-progress-bar
          [color]="primary"
          [mode]="determinate"
          [value]=progress>
    </md-progress-bar>
    <md-list>
      <md-list-item *ngFor="let item of items">
        <md-checkbox (change)="updateLocalStorage()" [(ngModel)]="item.complete"></md-checkbox>
        <a target='_blank' class='md-list-item-text' href='{{ item.productLink }}'>{{ item.name }}</a>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>

