<img class='flag' src='assets/flag.jpg' alt='city flag'/>
<h2 class='title'>Everything You Need To Prepare For The Storm</h2>
<div class='row'>
  <div class='column--small'>
    <app-check-list checklistTitle='Survival Kit' [observer]=survivalKitItems [localStorageServiceType]=survivalKitServiceType></app-check-list>
  </div>
  <div class='column--small'>
    <app-check-list checklistTitle='Home Preparation' [observer]=homePrepItems [localStorageServiceType]=homePrepServiceType></app-check-list>
  </div>
</div>