/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.row {
  margin: 5%;
  display: flex;
  justify-content: space-between;
}

.column--large {
  width: 100%;
}

.column--small {
  width: 45%;
}

.md-toolbar-fill-remaining-space {
  flex: 1 1 auto;
}

.github-link {
  display: block;
  line-height: 0;
}

.github-link img {
  width: 50px;
}

.md-list-item-text {
  margin-left: 10px;
}

.icon-status-done {
  color: #68f260;
}

.icon-status-warning {
  color: #e02626;
}